body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
}

.product{
background:white;
padding:20px;
width:250px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px gray;
}

button{
padding:10px 20px;
background:green;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:darkgreen;
}
